@charset "utf-8";
/* CSS Document */

html, body {
	width: 100%;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Nunito Sans',sans-serif;
}

* {
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0 0 !important;
	padding: 0;
}

.inner {
	width: 970px;
	margin: auto;
	padding: 50px 0;
}

#wrapper {
	width: 100%;
}

#slider-wrapper {
	width: 100%;
	height: 500px;
	background: #c44161;
	position: relative;
}

#slider-inner {
	width: 970px;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	text-align: center;
}

#slider-inner h1 {
	font-size: 70px;
}

#banner-header {
	padding-bottom: 25px !important;
}

#banner-subheader {
	padding-bottom: 30px;
	opacity: 0;
	transition: all ease 0.5s;
}

#banner-btn {
	margin: auto;
	opacity: 0;
	transition: all ease 0.5s;
}

#slider-inner p {
	font-size: 20px;
}

button {
	width: 250px;
	padding: 15px 0;
	color: #c44161 !important;
	background: white;
	border: 2px solid white;
	border-radius: 50px;
	transition: all ease 0.6s;
}

button:hover {
	background: none;
	color: white !important;
}

#header-logo {
	width: 100%;
	height: auto; 
}
#main-nav {
	padding: 20px 2%;
}

#main-nav ul {
	list-style: none;
}

#main-nav ul li {
	display: inline-block;
}

#test {
	text-align: center;
}

#stats-wrapper {
	width: 970px; 
	height: auto;
	margin: auto;
	text-align: center;
	padding: 50px 0;
}

.stat-icon {
}

.stat-icon img {
	width: auto !important;
	height: 100px !important;
	display: block;
	margin: auto;
}

#num1, #num2, #num3 {
	font-size: 80px;
	color: #c44161;
	text-align: center;
}

.stat-wrapper h2 {
	font-size: 18px;
}

#stats-wrapper span {
	font-size: 80px !important;
	color: #c44161 !important;
	text-align: center !important;
}

/*---------------------------------------------*/

#services {
	width: 100%;
	background: url(images/Services-v2.jpg) no-repeat fixed;
	background-size: cover !important;
}

.service-block {
    padding: 50px 30px;
    border: 0;
}

.box {
	background: white;
	margin-top: 30px;
	text-align: center;
}

.box img {
	width: 50px;
	height: auto;
	display: block;
	margin: auto;
}

.box p {
	font-size: 25px;
	margin: 20px 0;
	color: grey;
}

.box button {
	width: 170px;
	padding: 10px 0;
	border: 2px solid #c44161;
}

.box button:hover {
	background: #c44161;
	color: white;
}

/*.box:nth-child(1), .box:nth-child(2), .box:nth-child(3) {
	margin-top: 0;
}*/

.slide-in-img {
	position: relative;
	left: -150px;
}

#get-started {
	background: #c44161;
	color: white;
}

#main-footer {
	text-align: center;
	background: #2d2d2d;
}